:root {
  --font-divisor: 60; /* Default value for the font divisor */
}

.App {
  text-align: center;
  background-color: white;
}

.game {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.keyboard {
  width: 850px;
  height: 750px;
  margin-top: 20px;
  justify-content: center;
}

.line0,
.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
}

.key {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 6px;
  /* border: 3px solid grey; */
  display: grid;
  place-items: center;
  font-size: 30px;
  background-color: #aaa;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.help {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #aaa;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #aaa;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.dark_key {
  border: 3px solid #222;
  color: #222;
}

.black_key {
  border: 3px solid #000;
  color: #000;
}

.blank_key {
  /* border: 3px solid #fff; */
  background-color: white;
  cursor: default;
}

.mathsymbol_key {
  /* border: 0px; */
  color: black;
  background-color: white;
  font-size: 40px;
  cursor: default;
}

.run_key {
  color: black;
  background-color: white;
  cursor: default;
}

.guess_key {
  /* border: 3px solid #fff; */
  color: black;
  background-color: white;
  font-size: 40px;
}

.redcharacter_key {
  color: red;
}

.blue_key {
  background-color: rgb(125, 215, 255);
}

.red_key {
  background-color: rgb(255, 100, 100);
}

.spacebar {
  width: 360px;
  font-size: 36px;
  background-color: #ccc;
}

#selected_key {
  color: yellow;
}

.default_cursor {
  cursor: default;
}

.check-color {
  color: green;
}

.times-color {
  color: red;
}

.black {
  color: black;
}

.mini_key {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 3px;
  border: 1.5px solid #444;
  font-size: 20px;
  color: #444;
}

.mini_line1,
.mini_line2,
.mini_line3,
.mini_line4,
.mini_line5,
.mini_line6, 
.mini_line7,
.mini_line8,
.mini_line9, 
.mini_line10 {
  flex: 33%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.dordle_box {
  width: 400px;
  height: 150px;
  margin-top: 5px;
  justify-content: center;
  /* border: 3px solid grey; */
}

.divider {
  font-size: 54px;
  width: 20px;
  height: 50px;
  color: #444444;
}

.mini_divider {
  font-size: 27px;
  height: 25px;
}

.word_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #000;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.note_box {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  flex-direction: column;
  background-color: white;
  color: #000;
  width: 360px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.word_box_word {
  margin: 0;
}

.hundreds_box {
  flex: 33%;
  margin-top: 2px;
  justify-content: center;
}

.star-box {
  flex: 33%;
  margin-top: 2px;
  justify-content: center;
  color:#f7da21;
}

.star-box svg {
  font-size: 2em; /* Adjust the font-size to make the stars larger */
  margin-right: 5px; /* Add some margin between the stars */
}

.hundreds_line1,
.hundreds_line2,
.hundreds_line3,
.hundreds_line4,
.hundreds_line5,
.hundreds_line6,
.hundreds_line7,
.hundreds_line8,
.hundreds_line9,
.hundreds_line10 {
  flex: 33%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.hundreds_key {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 3px;
  border: none;
  /* font-size: 120%; */
  font-size: 1em;
  color: #222;
  cursor: default;
}

.factors_line1,
.factors_line2,
.factors_line3,
.factors_line4,
.factors_line5 {
  flex: 33%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.factors_key {
  width: 30px;
  height: 50px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  font-size: 100%;
  color: black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 40px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.triangle_key {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: 1px;
  border: 3px solid #444;
  display: grid;
  place-items: center;
  font-size: 22px;
  background-color: white;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.centered-text {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.bottom-text {
  font-size: 16px;
  color: #000;
}

.centered-text-main {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.bottom-text-main {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.bottom-left-main {
  position: absolute;
  right: -10px;
  bottom: -4px;
  font-size: 22px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-left-main-back {
  position: absolute;
  right: -6px;
  bottom: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 248, 109);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes reveal {
  0% {
      transform: scaleY(0);
  }
  100% {
      transform: scaleY(1);
  }
}

.reveal-tile {
  animation: reveal 0.4s ease forwards;
}

/* @keyframes flip {
  0% {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(0);
  }
  100% {
      transform: scaleY(1);
  }
} */

.anagram-fill {
  cursor: pointer;
  background-color: #f7da21;
}

@media only screen and ((max-width: 924px)) {

  .keyboard {
    margin-top: 50px;
  }
}

@media only screen and ((max-width: 768px)) {
  :root {
    --font-divisor: 50; /* Adjust the divisor for smaller screens */
  }

  .keyboard {
    width: 600px;
    height: 500px;
    margin-top: 40px;
  }

  .key {
    width: 50px;
    height: 50px;
    border-radius: 4.5px;
    font-size: 23px;
    margin: 4px;
  }

  .spacebar {
    width: 270px;
  }

  .help {
    width: 30px;
    height: 30px;
    font-size: 22px;
  }

  .centered-text-main {
    font-size: 24px;
    font-weight: 100;
  }
  
  .bottom-text-main {
    font-size: 9px;
  }

  .dark_key {
    border: 2px solid #222;
  }

  .divider {
    font-size: 40px;
    width: 18px;
    height: 32px;
  }

  .bottom-left-main {
    position: absolute;
    right: -8px;
    bottom: -4px;
    font-size: 16px;
  }
  
  .bottom-left-main-back {
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 15px;
    height: 15px;
  }

  .centered-text {
    font-size: 24px;
  }
  
  .bottom-text {
    font-size: 12px;
  }

  .mini_key {
    width: 24px;
    height: 24px;
    margin: 1.5px;
    border-radius: 3px;
    border: 1.5px solid #444;
    font-size: 16px;
  }

  .mini_divider {
    font-size: 24px;
    height: 22px;
  }

  .hundreds_key {
    width: 36px;
    height: 36px;
    margin: 1.5px;
    border-radius: 3px;
    font-size: 1em;
    max-width: 36px;
    /* font-size: 80%; */
  }

  .triangle_key {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin: 1px;
    border: 2px solid #444;
    font-size: 24px;
  }
}

@media only screen and ((max-width: 576px)) {
  :root {
    --font-divisor: 40; /* Adjust the divisor for smaller screens */
  }

  .keyboard {
    width: 375px;
    height: 400px;
    margin-top: 40px;
  }

  .key {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    font-size: 15px;
    margin: 3px;
  }

  .spacebar {
    width: 200px;
  }

  .help {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }

  .centered-text-main {
    font-size: 18px;
    font-weight: 100;
    color: #000;
  }
  
  .bottom-text-main {
    font-size: 6px;
    color: #000;
  }

  .dark_key {
    border: 1.5px solid #222;
  }

  .divider {
    font-size: 28px;
    width: 12px;
    height: 24px;
  }

  .bottom-left-main {
    position: absolute;
    right: -6px;
    bottom: -2px;
    font-size: 14px;
  }
  
  .bottom-left-main-back {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 12px;
    height: 12px;
  }

  .centered-text {
    font-size: 18px;
  }
  
  .bottom-text {
    font-size: 8px;
  }

  .mini_key {
    width: 18px;
    height: 18px;
    margin: 1px;
    border-radius: 2px;
    border: 1px solid #444;
    font-size: 12px;
  }

  .mini_divider {
    font-size: 18px;
    height: 16px;
  }

  .hundreds_key {
    width: 28px;
    height: 28px;
    margin: 1px;
    border-radius: 2px;
    font-size: 1em;
    max-width: 28px;
    /* font-size: 80%; */
  }

  .triangle_key {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin: 0.5px;
    border: 1.5px solid #444;
    font-size: 16px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  color: #555;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
}

